#header{
    overflow: hidden;
    position: relative;
}
#header .breath__circle{
    position: absolute;
    right: 0;
    /* top: 6%;
   left: 51%; */
    z-index: 1;
}
#header .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    gap: 1rem;
    z-index: 2;
}
#header .grid .upper{
    grid-template-columns: auto 400px;
}
#header .description{
    margin-bottom: 10px;
}
#header .social__handles__container{
    margin-top: 10px;
}
#header .profile__photo{
    /* object-fit: contain; */
    /* filter: grayscale(100%); */
}
.column img{
    height: 665px;
    width: auto;
    object-fit: cover;
    display: block;
}

#banner-paragraph{
    margin-top: 10px;
}
#banner-span{
   
    margin-left: 5px;
   
}
#codeSocial{
    color: white;
    font-size: 18px;
  
}
.banner-title{
    margin-top: 80px;
}

/* responsive */
@media (max-width: 768px) {
    #header .grid,
    #header .grid.upper {
        grid-template-columns: 100%;
    }
    #header .grid .upper .column:first-child {
        height: 200px;
    }
    #header .description{
        text-align: center;
    }
    #header .social__handles__container {
        justify-content: center;
    }
    .column img{
    height: auto;
    width: auto;
}
.banner-title{
    margin-top: 12px;
}
}
